.example-card {
  max-width: 400px;
  cursor: pointer;

  .example-header-image {
    background-size: cover;
    width: 20px;
    height: 20px;

    img {
      width: 20px;
      height: 20px;
      margin: 0;
    }
  }

  .mat-card-header {
    .mat-card-title {
      margin-bottom: 0;
    }
  }
}
